---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header single-post-header" style="background-image:url('{{ site.url }}{{ page.image }}')">
  </header>
  <div class="wrapper">
    <h1>{{ page.title }}</h1>
    <div class="single-post-summary">
     <code> {{ page.summary }} </code>
    </div>
    <div class="post-content single-post-content" itemprop="articleBody">
      <div class="entry">
        <code>{{ content }}</code>
      </div>
    </div>
  </div>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
</article>
<div id="post-disqus" class="container">
  {% include disqus.html %}
</div>                          
